<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
  </head>
  <body>
    <div id="app">
      <md-toolbar :md-elevation="1">
        <span class="md-title">Bushwick Transit</span>
        <md-subheader>by&nbsp;<a href="https://razza.dev" target="_blank" style="white-space: nowrap">Matt Razza</a>,&nbsp;Mark Davis&nbsp;| Data quality not guaranteed. This is not affiliated with MTA or NYC.</md-subheader>
      </md-toolbar>
      <md-list class="md-double-line" v-for="station in stations">
        <md-subheader>{{ station.name }}</md-subheader>
        <md-divider></md-divider>
        
        <md-list-item v-for="train in station.trains">
        <md-icon v-if="train.dir == '1'" class="up">swipe_up_alt</md-icon>
        <md-icon v-if="train.dir == '0'" class="down">swipe_down_alt</md-icon>
        <md-icon v-if="train.dir == '2'" class="ylw">swipe_left_alt</md-icon>
        <md-icon v-if="train.dir == '3'" class="blue">swipe_right_alt</md-icon>
        <div v-for="color in train.line_color">
          <md-icon v-bind:style="{color: color}">train</md-icon> 
        </div>
        
        <span class="md-list-item-text">{{ train.name }}</span>
        <div class="md-list-action">
          <span>{{ train.arrival_time }}</span>
        </div>
        </md-list-item>
    </md-list>
    <md-list class="md-double-line" v-for="dock in docks">
    
        <md-subheader>{{ dock.name }}</md-subheader>
        
        <md-divider></md-divider>
          <md-icon class="blue">pedal_bike</md-icon>
          <span>{{ dock.cycles_manual_available }}</span>
          <md-icon v-if="dock.cycles_electric_available > 0" class="ylw">electric_bike</md-icon>
          <span v-if="dock.cycles_electric_available > 0">{{ dock.cycles_electric_available }}</span>
          <md-icon class="down">vertical_shades</md-icon>
          <span>{{ dock.cycles_spaces }}</span>
          
          <md-icon v-if="'up' in dock.coords" class="up">swipe_up_alt</md-icon>
          <span v-if="'up' in dock.coords">{{ dock.coords.up }}</span>
          <md-icon v-if="'down' in dock.coords" class="down">swipe_down_alt</md-icon>
          <span v-if="'down' in dock.coords">{{ dock.coords.down }}</span>
          <md-icon v-if="'left' in dock.coords" class="left">swipe_left_alt</md-icon>
          <span v-if="'left' in dock.coords">{{ dock.coords.left }}</span>
          <md-icon v-if="'right' in dock.coords" class="right">swipe_right_alt</md-icon>
          <span v-if="'right' in dock.coords">{{ dock.coords.right }}</span>
        </md-list>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
  </body>
</html>

